/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 27, 2015, 1:48:02 PM
    Author     : Angela Stewart
*/

            .gameContent {
                position: relative;
                height: 600px;
            }
            
            .gameContent #canvas {
                margin-left: 10px;
                margin-top: 10px;
                background: #7d7878;
                border: thin solid #aaaaaa;
            }
            .gameContent #gameDiv {
                display: block;
                color: #eeeeee;
                background: rgba(125, 120, 120, 0.9);
                padding: 10px;
                width: 640px;
            }
            
            .gameContent #backgroundImages {
                position: relative;
                display: inline-block;
                width: 640px;
                height: 400px;
            }
            
            #backgroundImages img {
                position: absolute;
            }
            
            .gameContent select, 
            .gameContent button {
                color: #000000;
            }
            
            .gameContent .gameElement {
                display: inline-block;
            }
            
            #speechBubble {
                position: absolute;
                left: 240px;
                top: 225px;
                width: 160px;
                height: 110px;
                font-weight: bold;
            }
            
            .gameContent #chippyHolder {
                z-index: 1000;
                position: relative;
                top: -410px;
            }
            
            #chippyHolder #chippyImg {
                position: absolute;
                left: 390px;
                top: 110px;
            }
            
            #chippyHolder #speechBubbleImg {
                position: absolute;
                left: 220px;
                top: 200px;
            }
