@import url(main.css);

/*****  General Page Formatting ***************************************/
#pageWrap { width:100%; }

/**************  Header Section **************************/
#headerWrap { display:block; float:left; height:140px; margin:0 auto; min-width:950px; width:100%; }
#header { display:block; float:inherit; height:110px; margin:0 auto; min-width:950px; overflow:hidden; padding:0; width:100%; }
#headerTitle { background:none; height:90px; width:730px;}


/**************  Navigation Section **************************/
.nav { border-collapse:collapse; border-left:#f68026 1px solid; float:left; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:13px; height:27px; margin:0 0 3px 0; min-width:950px; padding:0; text-align:center; text-transform:uppercase; width:100%; }

/**************  Content Section **************************/
#contentArea { background-color: #fff; border:none; border-bottom:#d7d7d7 1px solid; display:block; float:left; margin-bottom:0px; min-width:950px; width:100%; }
#contentArea_bottom { display:none; }
.contentDivision { display:block; float:none; margin:0; min-width:910px; padding:15px 20px; width:auto; }

/**************  Footer Section **************************/
#footerWrap { background:url(https://www.auburn.edu/template/styles/images/footer.png) top center no-repeat; color:#f4f4f4; display:block; font-size:8pt; margin:0; min-width:950px; padding:87px 0 0 0; width:100%; }
#footer { background-color:#03244d; min-width:950px; text-align:center; width:auto;}
#footSectionWrap { margin:0 auto; min-width:950px; padding-bottom:18px; width:950px; }
#subfooter { background:none; border-top:#dd550c 4px solid; clear:both; color:#03244d; line-height:18px; margin:0 auto; min-width:950px; padding:15px 0 10px 0; text-align:center; width:auto; }
